/* Общие стили для текста */
body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

.button-hero {
    cursor: pointer;
    background: #4D5AE5; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    transition: background 0.3s; /* Плавный переход */
}

.button-hero:hover,
.button-hero:focus {
    background: #404BBF; 
}

/* Заголовки общего назначения */
h2, .heder2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* Лого */
.logo_web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5; 
}

.logo_studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42; 
}

/* Стили для меню */
.header-container {
    height: 72px;
    display: flex;
}

.features {
    font-weight: 500;
    display: flex;
    margin-left: 76px;
}

.feature-list {
    margin-right: 40px;
}

.feature-list:first-child a:hover,
.feature-list:first-child a:focus {
    color: #404bbf;
}

/* Адрес */
.address-list, .address-list-2 {
    display: flex;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}

/* Команда */
.team-item-title, .team-item-description {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.team-item-description {
    font-weight: 400;
    color: #434455;  
}

.team-item-title {
    font-weight: 500;
    margin-top: 32px;
    color: #2e2f42;
}

/* Остальные стили */
ul {
    list-style-type: none;
}

.section-furst {
    background-color: #2e2f42;
    width: 100%; /* Установите нужное значение */
    height: 600px;
}

.text-hero, .title-main {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

span { 
    color:#f4f4fd;
}

footer .logo_studio {
    color: #F4F4FD;
}

footer .logo_web {
    color: #4d5ae5;
}
