/* Общие стили для текста */
body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

button {
    cursor: pointer;
}

/* Заголовки общего назначения */
h2, .heder2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

/* Лого */
.logo_web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; /* Основная часть логотипа */
}

.logo_studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42; /* Часть логотипа "studio" */
}

/* Стили для меню */
.header-container {
    height: 72px;
    display: flex;
    background-color: aqua;
}
.features {
    font-weight: 500;
    display: flex;
    margin-top: 0;
    margin-left: 76px;
}
.fiatures-list, .feature-list {
    margin-right: 40px;
    margin-top: 0;
}
.feature-list:first-child a:hover,
.feature-list:first-child a:focus {
  color: #404bbf;
}
/* Адрес */
.address-list, .address-list-2 {
    display: flex;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-list {
    margin-left: 332px;   
}
.address-list-2 {
    margin-right: 156px;
}
address > ul {
    display: flex;
}

/* Команда */
.team-item-title, .team-item-description {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-item-description {
    font-weight: 400;
    color: #434455;  
}
.team-item-title {
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 8px;
    color: #2e2f42;
}

/* Кнопка */
.button-hero {
    background: #4D5AE5; /* Замена на background вместо background-color */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.button-hero:hover,
.button-hero:focus {
    background: #404BBF; /* Также применяется background */
}

/* Остальные стили */
ul {
    list-style-type: none;
}

.section-furst {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    top: 72px;
    gap: 0px;
}

.text-hero, .title-main {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

span { 
    color:#f4f4fd;
}
footer .logo_studio {
    color: #F4F4FD;
}
